<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        
           http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd"
    
     default-init-method="init"
    >
		
		<bean id="caffeConcreto" class="com.idm.bean.CaffeConcreto">
		<property name="descrizione" value="caffe normale"></property>
		</bean>
		
		<bean id="tipoCaffe" class="com.idm.decorator.TipoCaffe">
		<constructor-arg name="caffe" ref="caffeConcreto"></constructor-arg>
		<constructor-arg name="tipo" value="moka"></constructor-arg>
		</bean>
		
		<bean id="decaffeinato" class="com.idm.decorator.Caffeina">
		<constructor-arg name="caffe" ref="caffeConcreto"></constructor-arg>
		<constructor-arg name="caffeina" value="false"></constructor-arg>
		</bean>
		
		<bean id="corretto" class="com.idm.decorator.CaffeCorretto">
		<constructor-arg name="caffe" ref="caffeConcreto"></constructor-arg>
		</bean>
		
		<bean id="americanoCorretto" class="com.idm.decorator.Variante">
		<constructor-arg name="caffe" ref="corretto"></constructor-arg>
		<constructor-arg name="variante" value="AMERICANO"></constructor-arg>
		</bean>
	
	
		
	
   </beans>
   
   
   