<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        
           http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd"
    
    
    >
		
		
	 <context:component-scan base-package="com.idm.setup"/>
	 
<!-- 	 <bean id="scrivaniaGaming" class="com.idm.setup.ScrivaniaGaming">
	  <constructor-arg value="rosso" />
      <constructor-arg value="2234" />
      <constructor-arg value="350" />
	 </bean>
	 
	 <bean id="sediaGaming" class="com.idm.setup.SediaGaming">
	  <constructor-arg value="rosso" />
      <constructor-arg value="5698" />
      <constructor-arg value="123" />
	 </bean>
	 
	 <bean id="lampadaGaming" class="com.idm.setup.LampadaGaming">
	 <constructor-arg value="viola" />
      <constructor-arg value="7745" />
      <constructor-arg value="34" />
	 </bean>  -->
	 
	 <bean id="scrivaniaStudio" class="com.idm.setup.ScrivaniaStudio">
	  <constructor-arg value="nero" />
      <constructor-arg value="9965" />
      <constructor-arg value="458" />
	 </bean>
	 
	 <bean id="sediaStudio" class="com.idm.setup.SediaStudio">
	  <constructor-arg value="nero" />
      <constructor-arg value="1125" />
      <constructor-arg value="120" />
	 </bean>
	 
	 <bean id="lampadaStudio" class="com.idm.setup.LampadaStudio">
	 <constructor-arg value="bianco" />
      <constructor-arg value="7781" />
      <constructor-arg value="68" />
	 </bean>
	 
	 <bean name="gamingFactory" class="com.idm.setup.GamingFactory"></bean>
 	 <bean name="scrivaniaGaming" class="com.idm.setup.ScrivaniaGaming" factory-bean="gamingFactory" factory-method="costruisciScrivania"></bean>
	 <bean name="sediaGaming" class="com.idm.setup.SediaGaming" factory-bean="gamingFactory" factory-method="costruisciSedia"></bean>
	 <bean name="lampadaGaming" class="com.idm.setup.LampadaGaming" factory-bean="gamingFactory" factory-method="costruisciLampada"></bean>
	 
	 <bean name="gaming" class="com.idm.setup.GamingSetup">
	 <constructor-arg name="scrivania" ref="scrivaniaGaming"></constructor-arg>
	 <constructor-arg name="sedia" ref="sediaGaming"></constructor-arg>
	 <constructor-arg name="lampada" ref="lampadaGaming"></constructor-arg>
	 </bean>
   </beans>
   
   
   